{% extends 'base.html' %}
{% block title %}Search Brewery{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
  <div class="row">
    <div id="app">
      <h3 class="mb-5">Search Breweries By City</h3>
      <form class="d-flex justify-content-center">
        <input type="text" name="city" id="search-city" class="text-area"
          placeholder="Search by City">
        <input class="btn btn-outline-success" type="submit" id="submit" value="Find Brewery">
      </form>
      <div class="d-flex flex-wrap justify-content-center" id="search">
        {% for brew in breweries %}
        <div class="card border-warning m-1" style="max-width: 20rem;">
          <div class="card-body">
            <h4 class="card-title">{{brew.name}}</h4>
            <p class="card-text">{{brew.brewery_type}}</p>
            <p class="card-text">{{brew.state}}</p>
            <p class="card-text">{{brew.city}}</p>
            <p class="card-text">{{brew.country}}</p>
            {% if brew.website_url == None %}
            {% else %}
            <p class="card-text"><a class="btn btn-sm btn-outline-warning"
                href="{{brew.website_url}}">{{brew.website_url}}</a></p>
            {%endif%}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}