{% extends 'base.html' %}

{% block title %}beer info{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="card my-5 col-lg-10">
    <img
      src="https://images.unsplash.com/photo-1505075106905-fb052892c116?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      class="card-img-top img-fluid mt-3" alt="" />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
    </div>
  </div>
</div>


{% endblock %}