{% extends 'base.html' %}

{% block title %}beer info{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  {% for brew in brewery %}
  <div class="card my-5 col-lg-10">
    <div class="mt-3" id="map">

    </div>
    <div class="card-body">
      <h3 class="card-title">{{brew.name}}</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-transform: capitalize;">Brewery Type:
        {{brew.brewery_type}}</li>
      <li class="list-group-item">Street Address: {{brew.street}}</li>
      <li class="list-group-item">City: {{brew.city}}, {{brew.state}}</li>
      <li class="list-group-item">Country: {{brew.country}}</li>
      <li id="lat" class="list-group-item">{{brew.latitude}}</li>
      <li id="long" class="list-group-item">{{brew.longitude}}</li>
    </ul>
    {% if brew.website_url %}
    <div class="card-body">
      <a href="{{brew.website_url}}" class="btn btn-sm btn-outline-info">{{brew.website_url}}</a>
    </div>
    {% else %}
    <li class="list-group-item">Website Available</li>
    {% endif %}
  </div>
  {% endfor %}
</div>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPD8djk8aZTWlaIdPqnBj0E5EicGcId8c&callback=initMap&libraries=&v=weekly"
  async></script>
{% endblock %}