{% extends 'base.html' %}

{% block title %}beer info{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  {% for brew in brewery %}
  <div class="card my-5 col-lg-10">
    <div class="mt-3" id="map">

    </div>
    <div class="card-body">
      <h3 class="card-title">{{brew.name}}</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="text-transform: capitalize;">{{brew.brewery_type}}</li>
      <li class="list-group-item">{{brew.street}}</li>
      <li class="list-group-item">{{brew.city}}, {{brew.state}}</li>
      <li class="list-group-item">{{brew.country}}</li>
    </ul>
    {% if brew.website_url %}
    <div class="card-body">
      <a href="{{brew.website_url}}" class="btn btn-sm btn-outline-info">{{brew.website_url}}</a>
    </div>
    {% else %}
    <li class="list-group-item">Website Available</li>
    {% endif %}
  </div>
  {% endfor %}
</div>
{%for brew in brewery %}
<script type="text/javascript">

  const map = L.map('map').setView([0, 0], 12);

  const layer = L.tileLayer(
    'http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',
    {
      attribution:
        '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
    },
  );

  map.addLayer(layer);

  L.marker([{{ brew.latitude }}, {{ brew.longitude }}])
    .addTo(map)
    .bindPopup('<strong>{{brew.name}}</strong>')
    .openPopup();

</script>
{% endfor %}
{% endblock %}