{% extends 'base.html' %}
{% block title %}Brewery Home{% endblock %}

{% block content %}

<section class="py-5 text-center container mt-5">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">

      <form action="/" class="d-flex">
        <button class="btn btn-outline-warning ml-3" type="submit">Back Home</button>
      </form>


      <div class="card mt-5">
        <div class="card-body">
          <h3 class="card-title">Random Brewery</h3>
          <hr class="border-white">
          {% for b in brewery %}
          <h5 class="card-title font-weight-bold">{{b.name}}</h5>
          <p class="card-title font-weight-bold">{{b.brewery_type}}</p>
          <p class="card-title font-weight-bold">{{b.country}}</p>
          <p><a href="{{b.website_url}}" class="btn btn-outline-warning">{{b.website_url}}</a></p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}