{% extends 'base.html' %}

{% block content %}
<h1 class="display-4">Hi {{user.username}}</h1>
<section class="py-5 text-center container mt-5">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto my-auto">
      <h3 class="fw-light">Here is a list of your favorite breweries</h3>
      <form class="d-flex" action="/index">
        <input class="form-control" type="text" name="name" style="text-transform: capitalize;"
          placeholder="Search By Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</section>

{% endblock %}